// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #32934C;
$accent    : #F9BC14;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #2D8847;
$negative  : #F0F1F2;
$info      : #96D1A6;
$warning   : #003366;

$bg :    #259588
